
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Flack CS50W P2 Chat</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.4/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <script id="chat_log" type="text/template">
      {% raw -%}

              {{#each values}}
              <div class=container>
                    <b> {{this.sender}}: </b>
                    <p>{{this.text}}</p>
                  <span class="time-left">{{this.time}}<span>
                </div>
              {{/each}}

      {%- endraw %}
    </script>

    <script src="{{ url_for('static', filename='chat.js') }}"></script>
  </head>


<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" >Flack CS50W</a>
    <a class="navbar-text">    Logged in as <div id="display_name"></div> </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <button class="nav-item ml-auto" id="exit_button" href="" >Exit</button>
    </div>
  </nav>

<main role="main" class="mycontainer" >
  <div class="row">
    <div class="col-sm">
      <br>

      <form id="new_channel">
        <label for="create_channel"><h4>Create a new channel</h4></label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Select a channel name" aria-describedby="button-addon2" id="new_channel_name" required>
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" id="button-addon2">Create</button>
          </div>
        </div>
      </form>

      <form name="select_channel" id="select_channel" method="POST">
        <div class="form-group">
          <label for="exampleFormControlSelect2"><h4>Select existing channel</h4></label>
          <select multiple class="form-control" id="exampleFormControlSelect2" name="channel_selection">

            {% for channel in channels %}
              {% if channel %}
                <option value="{{channel}}">{{channel}}</option>
              {% endif %}
            {% endfor %}

          </select>
        </div>
        <button type="submit" class="btn btn-primary">Select</button>
      </form>


    </div>

    <div class="col-sm">
      <br>
      <div class="jumbotron">
        <h4> <span id="current_channel"><i>Select a channel to chat</i></span></h4>
        <br>

        <div id="chat_window" class="scrollarea">


          <!-- HERE'S WHEERE THE CHAT WINDOW IS-->

        </div>

        <br>
        <form id="send_message">
          <br>
          <div class="input-group mb-3">
            <textarea id="message" type="text" class="form-control" placeholder="New message"></textarea>
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit" id="send_button">Send</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</main>

</body>

</html>
